
/*nav-menu*/
/*logo*/
.menu-star{
    width: 15%;
    @include md(){
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.nav-logo{
   float: left; 
   padding: 0;
}
.nav-logo a {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/DOYOGA-logo.png?raw=true);
    width:193px;
    height:50px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
}
/*手機-icon*/
.btn-boder-none{
    border: 0;
    
}

/*右側2個選單範圍*/
.menu-end{
    width:85% ;
}
/*中間MENU*/
.menu-center{
    width:75%;
    @include md(){
        width: 100%;
    }
}
.menu-list-w{
    @include md(){        
        width:100%;
        font-size: $fs-l;
        line-height:$lh-s;
        font-weight: bolder;       
    }
}
.nav-item{
    @include md(){        
        width:100%;
        margin: 1rem 0;
    }
}
.nav-link{
    @include md(){        
        width:100%;
        display:block;
    }
}
/*右側按鈕*/
.menu-btn{ 
    width: 25%;
    display: flex;
    justify-content: end;
    @include md(){        
        justify-content:center;
        width:100%;
    }
}
.btn-w{/*按鈕框度*/
    @include md(){        
        width:50%;
        font-weight: bolder;
        font-size: $fs-l;
        line-height:$lh-n;
    }
}
.btn-w:focus{
   color: #fff; 
}
/*按鈕圓角設定*/
.boder-radius-1{
    border-radius:16px;
    @include md(){ 
        border-radius:10px;
    }
}

