.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}
/*舒適空間*/

.btn-icon{
  vertical-align:middle;
}
.warp-bg{
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg?raw=true);
  width: 33.33%;
  height:550px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:16px;
  @include md(){
    height:266px;
  }
}
.warp-bg-s {
 background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/white%20round%20table%20near%20brown%20wooden%20chair.jpg?raw=true);
 height: 260px;
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius:16px;
 margin-bottom: 30px;
 @include md(){
  height:117px;
  margin-bottom:32px;
 }
}
.warp-bg-s2 {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20blue%20denim%20jeans%20doing%20yoga.jpg?raw=true);
  height: 260px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:16px;
  @include md(){
    height:117px;
   }
 }

 /*舒適空間-MOB-bg*/
 .warp-mob-bg-s {
   width: 45%;
   margin: 0 auto;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg?raw=true);
  height:210px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:16px; 
 }
 .warp-mob-bg-s2 {
  width: 45%;
  margin: 0 auto;
 background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/white%20round%20table%20near%20brown%20wooden%20chair.jpg?raw=true);
 height:210px;
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius:16px; 
}

/*精心設計*/
