/*文字自訂大小*/
$fs-s  : $font-size-base *0.875 !default;/*14px*/
$fs-n  : $font-size-base !default;/*16px*/
$fs-l  : $font-size-base  *1.25 !default;/*20px*/
$fs-lx : $font-size-base  *1.5 !default;/*24px*/
$fs-lxx: $font-size-base  *1.75 !default;/*28px*/
$fs-h:   $font-size-base  *2.25 !default;/*36px*/
/*行高設定*/
$lh-s: $spacer *1.3125!default;/*21px*/
$lh-n: $spacer *1.5!default;/*24px*/
$lh-l: $spacer *1.875!default;/*30*/
$lh-lx: $spacer *2.25!default;/*36px*/
$lh-lxx: $spacer *2.625!default;/*42px*/
$lh-h: $spacer *3.375!default;/*54px*/

/*全域文字行高預設*/
.fs-s{/*fs-14 lh-21*/
    font-size: $fs-s;
    line-height:$lh-s;
}

.fs-n{/*fs-16 lh-24*/
    font-size: $fs-n;
    line-height:$lh-n;
}
.fs-l{/*fs-20 lh-30*/
    font-size: $fs-l;
    line-height:$lh-n;
}
.fs-lx{/*fs-24 lh-30*/
    font-size: $fs-lx;
    line-height:$lh-lx;
}
.fs-lxx{/*fs-28 lh-42*/
    font-size: $fs-lxx;
    line-height:$lh-lxx;
}
.fs-h{/*fs-36 lh-54*/
    font-size: $fs-h;
    line-height:$lh-h;
}
.text-center{
text-align: center;
}
.text-sm-center{
    @include sm(){
        text-align: center;
    }
}
.img-center{
    vertical-align: middle;
}

/*共用隱藏功能*/
.none-pc{  /*電腦版隱藏*/
    display: none;
    @include md(){
        display: block;
    }
}
.none-ipad{/*平板隱藏*/

    @include md(){
        display:none; 
    }
}
.none-mob{
    @include sm(){
        display:none ; 
    }
}
.block-mob{
    display: none;
    @include sm(){
        display: block;
    } 
}

.overflow-hidden{
    overflow: hidden;
}